<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.shinhyunjee.team9_project">

    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/title_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/title_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeDcjUJD-ozljSPGczH8t6NlORbaED7UU" />

        <activity android:name=".MapActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RouletteActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".FoodKindActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.FOODKIND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.RESTAURANT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReviewActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>